main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

header h1, p,footer a{
  color:orangered
}
li{
  list-style: None;
 
}
li a{
  color: blue
}
li img{
  border-radius: 0.5em;
  
}
li img,nav li {
  box-shadow: 0.7em 0.5em 0.5em rgba(65, 58, 58, 0.438);
}


img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
